<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>366690138320-l6kamagkpq3pm6gk132hli54506hc79a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.366690138320-l6kamagkpq3pm6gk132hli54506hc79a</string>
	<key>API_KEY</key>
	<string>AIzaSyA2Oj8G0jdUOfSLCym_FXe1vCDnMtwvfpw</string>
	<key>GCM_SENDER_ID</key>
	<string>366690138320</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.englishTest</string>
	<key>PROJECT_ID</key>
	<string>ispell-43edc</string>
	<key>STORAGE_BUCKET</key>
	<string>ispell-43edc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:366690138320:ios:cef21864fdf57424f4c6d5</string>
</dict>
</plist>